@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Bold;
  src: url(/font/Poppins-Bold.ttf);
}

.Poppin {
  font-family: Poppin;
}

.Big {
  font-family: Big;
}
:root {
  font-family: Poppin, Big;
  line-height: 1.5;
  font-weight: 400;
}
